
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <label for="Topic">주제:</label>
    @Html.DropDownList("Topic.Id", (List<SelectListItem>) ViewData["Topics"])
</p>

